.App {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.particles {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.pet-thumb-results-container {
	margin-top:2rem;
	width:50%;
}
.pet-thumb-result {
	display:flex;
	flex-flow:row nowrap;
	border-bottom: 1px solid #ccc;
	cursor:pointer;
	margin-bottom:1rem;
}