
<form method="post" action="/petFinder/add">

<label>Pet Name</label>
<input type="text" name="name">
<br>
<label>Animal</label>
<input type="text" name="animal">
<br>
<label>Sex</label>
<input type="radio" name="sex" value="M">
<label>M</label>
<input type="radio" name="sex" value="F">
<label>F</label>
<br>
<label>Size:</label>
<input type="radio" name="size" value="S">
<label>S</label>
<input type="radio" name="size" value="M">
<label>M</label>
<input type="radio" name="size" value="L">
<label>L</label>
<br>
<label>Age</label>
<input type="text" name="age">
<br>
<label>Breed</label>
<input type="text" name="breed">
<br>
<label>mixed</label>
<input type="radio" name="mixed" value="true">
<label>yes</label>
<input type="radio" name="mixed" value="false">
<label>no</label>
<br>
<label>Special Needs (specify on comments)</label>
<input type="radio" name="special_needs" value="true">
<label>yes</label>
<input type="radio" name="special_needs" value="false">
<label>no</label>
<br>
<label>Vaccines</label>
<input type="text" name="vaccines">
<br>
<label>Kid Friendly</label>
<input type="radio" name="kid_friendly" value="true">
<label>yes</label>
<input type="radio" name="kid_friendly" value="false">
<label>no</label>
<br>
<label>Description</label>
<input type="text" name="description">
<br>
<label>Shelter Pet Id</label>
<input type="text" name="shelter_pet_id">
<br>
<label>Shelter Id</label>
<input type="text" name="shelter_id">
<br>
<label>Owner Name</label>
<input type="text" name="owner_name">
<br>
<label>Owner Phone</label>
<input type="text" name="owner_phone">
<br>
<label>Owner Address</label>
<input type="text" name="owner_address">
<br>
<label>Owner City</label>
<input type="text" name="owner_city">
<br>
<label>Owner State</label>
<input type="text" name="owner_state">
<br>
<label>Owner Email</label>
<input type="text" name="owner_email">
<br>
<button type="submit" value="save">Submit</button>

</form>